.main__container {
  width: 90%;
  padding: 2rem 0;
  margin-bottom: 2rem;

  background-color: var(--gray-3);

  border-radius: 5px;

  .formHeader__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .form__title {
      color: var(--gray-0);
    }

    .form__text {
      color: var(--gray-1);
    }
  }

  .from__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .input__box {
      padding: 0.5rem 0.5rem;
    }

    .erro__msg {
      font-size: 0.625rem;
      color: var(--negative);
    }

    .form__bttn {
      width: 90%;
      padding: 0.5rem;
    }
  }
}

@media (min-width: 768px){
    .main__container{
        width: 400px;
    }
  }